---
import Image from 'astro/components/Image.astro';
import CacheCheckImage01 from '@/assets/images/cache-check_01.jpg';
import CacheCheckImage02 from '@/assets/images/cache-check_02.jpg';
import CacheCheckImage03 from '@/assets/images/cache-check_03.jpg';
import CacheCheckImage04 from '@/assets/images/cache-check_04.jpg';
import CacheCheckImage05 from '@/assets/images/cache-check_05.jpg';
---

<div class="container">
  <Image src={CacheCheckImage01} alt="" />
  <Image src={CacheCheckImage02} alt="" />
  <Image src={CacheCheckImage03} alt="" />
  <Image src={CacheCheckImage04} alt="" />
  <Image src={CacheCheckImage05} alt="" />
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }

  .container img {
    max-width: 100%;
    height: auto;
  }
</style>
